name: Continuous Deployment

on:
  push:
    branches:
      - main 
      - rfcs/*

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: "latest"
      - run: bash bin/ci-build.sh
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
          user_name: "St. Jude Cloud"
          user_email: support@stjude.cloud
          commit_message: "Deployed from ${{ github.event.head_commit.message }}"